<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "vendor/autoload.php" >

    <filter>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>
    
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />

        <log type="coverage-html" target="reports/codecoverage" charset="UTF-8"
             yui="true" highlight="false"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="testdox-html" target="reports/codecoverage/testdox.html"/>
        <log type="testdox-text" target="reports/codecoverage/testdox.txt"/>
                
    </logging>

</phpunit>
